BetterDiscord/
GIMP/
Jackbox Games/
KDAB/
Kitware/
LunarG/
NVIDIA Corporation/
QtProject.conf
Unknown Organization/
VirtualBox/
autostart/
blender/
cef_user_data/
dconf/
discord/
eww/
flameshot/
fontforge/
libreoffice/
live-latex-preview/
mimeapps.list
neofetch/
nitrogen/
obs-studio/
pavucontrol.ini
pulse/
qView/
qt5ct/
tpnote/
vlc/
zathura/
zoomus.conf
handlr/
nushell/
ipython/
pki/

4kdownload.com/
vim/plugged
jupyter/
caffeine/
bottom/
