BetterDiscord/
GIMP/
Jackbox Games/
KDAB/
Kitware/
LunarG/
NVIDIA Corporation/
QtProject.conf
Unknown Organization/
VirtualBox/
autostart/
blender/
cef_user_data/
dconf/
discord/
eww/
flameshot/
fontforge/
gtk-2.0/
gtk-3.0/
libreoffice/
live-latex-preview/
mimeapps.list
neofetch/
nitrogen/
nvim/
obs-studio/
pavucontrol.ini
pulse/
qView/
qt5ct/
tpnote/
vlc/
zathura/
zellij/
zoomus.conf

